/* style.css */
#intro {
	text-align: center;
	margin: 20px auto 0 auto;
}
body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
	margin: 0;
}

#colorName {
	margin: 25px;
	height: 50px;
	cursor: pointer;
}
#intro div {
	text-align: center;
}

#chat {
	display: none; /* Скрываем чат до ввода имени */
}

.message {
	margin: 5px 0;
}

.username {
	font-weight: bold;
}

/* Дополнительно: можно добавить стили для чата */
#chatlog {
	height: 300px;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

#msgInput {
	width: 70%;
	padding: 5px;
}

#sendBtn {
	padding: 5px 10px;
}
